
/* Procuraré que todo mi código esté con sus atributos 
en forma alfabética para que sea mas fácil encontrarlos y detectar duplicados */


:root {
    /* genero variables para el estilo */
    /* me instalo colorzilla para tomar muestra de color de la pagina modelo */
    /* color */
    --primary: #7862A6;
    --secondary: #F8CA93;
    --circle: #FE9192;
    --footer: #544A81;
    --detail: #72F6D9;
    --white: #fff;
    /* fuente */
    --font: 'Roboto Slab', serif;
    /* medidas */
    --mini: 1.6em;
    --normal: 2.4em;
} 


/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--font);
    overflow-x: hidden;

    /* display: flex;
    flex-direction: column; */
}
h2{
    color: #544A81;
}
.container {
    align-items: center;
    margin: var(--mini);
}
main {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
img {
    max-width: 90vw;
    height: auto;
}


/* header */
header {
    /* la img violeta fue pasada por tiny.jpg */
    background-image: url(img/violeta.png);
    background-position: bottom right;
    min-height: 350px;
    min-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}
.brillos {
    background-image: url(img/brillos.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    min-height: 300px;
    min-height: 600px;
    z-index: 1;

}

.list {
    list-style: none;
    text-align: center; 
    color: var(--white);
}

.title {
    text-align: center;
    padding-top: var(--mini);
    color: var(--white);
}


/* Main */

.text {
    text-align: start;
    margin: var(--mini);
}

/* separado color amarillo con boton */
.enroll {
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 1.6em;
    display: flex;
    flex-direction: column;
    gap: var(--mini);
}
@media (min-width: 480px) {
    .enroll {
        border-radius: 5px;
        padding: var(--mini);
        margin: 0 6em;
    }
}
@media (min-width: 769px) {
    .enroll {
        width: 700px;
    }
}
main .principal-content {
    margin: 5em;
}
/* uso el media-querie con min-width usando el valor standard + 1
para que luego de ese tipo de dispositivos se modifique su despliegue */
@media (min-width: 769px) {
    .principal-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--normal);
        
    }
}

/* boton  */
button {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
    padding: 1em;
    box-shadow: 1px 2px 5px black;
} 
button a {
    text-decoration: none;
    padding: var(--normal)/2;
    text-transform: uppercase;
    color: #000;
}
button:hover{
    background-color: var(--detail);
    color: var(--detail);
}
button:hover a {
    font-weight: 700;
    color: var(--white);
    text-shadow: 1px 1px 2px black;
}

figure .hidden {
    position: absolute;
    left: -1000px;
}



/* footer */

footer {
    background-color: var(--footer);
    padding: var(--mini);
}
.footer {
    color: var(--white);
    text-align: center;
}
@media (min-width: 769px) {
    .footer {
        text-align: start;
        margin-left: var(--normal);
    }
}