/* use Responsively App para ir trabajando conjuntamente los distintos tipos de dispositivos y
hacer el responsive design */

/* Procuraré que todo mi código esté con sus atributos
en forma alfabética para que sea mas fácil encontrarlos y detectar duplicados */


:root {
    /* genero variables para el estilo */
    /* me instalo colorzilla para tomar muestra de color de la pagina modelo */
    /* despues me di cuenta en inspect de browser ya tenia esa herramienta :) */


    /* color */
    --circle: #FE9192;

    /* color sacado de brillos */
    --detail1: #8efae2;

    /* color sacado de www.nujeresIT */
    --detail2: #49bcc4;

    --footer: #544A81;
    --primary: #7862A6;
    --secondary: #F8CA93;
    --white: #fff;

    /* busco fuente parecida */
    /* fuente */
    --font: 'Roboto Slab', serif;

    /* estandarizo medidas */
    /* medidas */
    --mini: 1.6em;
    --normal: 2.4em;
}


/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--font);
}
a{
    color: #fff;
    text-decoration: none;
 }
h2{
    color: #544A81;
}
.container {
    align-items: center;
    margin: var(--mini);
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
img {
    height: auto;
    max-width: 90vw;
}
@media (min-width: 633px) {
    img {
        max-width: 43vw;
    }
}

/* header */
header {
    /* la img violeta fue pasada por tiny.jpg */
    background-image: url(img/violeta.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    min-width: 100vw;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
}

.title {
    color: var(--white);
    left: 50%;
    position: absolute;
    text-align: center;
    top: 40%;
    transform: translate(-50%, -50%);
}
/* para que se vea el titulo mas centrado en dispositivos pequeños */
@media (max-width: 577px) {
    .title {
        top: 30%; 
    }
}
.brillos-image {
    /* clip path sugerido por chatGPT ya que no lograba superponer las imagenes respetando la forma de la violeta */
    clip-path: polygon(0 0, 120% 0, 120% 50%, 77% 80%, 0% 93%);
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
@media (min-width: 769px) {
    .brillos-image {
        clip-path: polygon(0 0, 120% 0, 120% 50%, 77% 90%, 0% 100%);
    }
}

/* Main */
.principal-content {
    margin: 5em 20%;
}


/* uso el media-querie con min-width usando el valor standard + 1
para que luego de ese tipo de dispositivos se modifique su despliegue */
@media (min-width: 633px) {
    .principal-content {
        display: grid;
        gap: var(--normal);
        grid-template-columns: repeat(2, 1fr);
        
    }
}

.text {
    margin: var(--mini);
    text-align: start;
}


/* card aparte: amarillos con boton */
.enroll {
    background-color: var(--secondary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: var(--mini);
    padding: 1.6em;
}
@media (min-width: 480px) {
    .enroll {
        border-radius: 5px;
        margin: 0 6em;
        padding: var(--mini);
    }
}
@media (min-width: 769px) {
    .enroll {
        width: 700px;
    }
}

/* boton  */
.button {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid black;
    padding: 1em;
    transition: all 1s ease-in-out;
}
.button a {
    color: #000;
    font-weight: 700;
    padding: var(--normal)/2;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-out;
}
.button:hover{
    background-color: var(--detail1);
    box-shadow: 2px 4px 10px black;
    color: var(--detail1);
}
.button:hover a {
    color: var(--white);
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
}

figure .hidden {
    left: -1000px;
    position: absolute;
}


/* footer */
footer {
    background-color: var(--footer);
    padding: var(--mini);
}
.footer {
    color: var(--white);
    text-align: center;
}
@media (min-width: 769px) {
    .footer {
        margin-left: var(--normal);
        text-align: start;
    }
}









/* menu hamburguesa */

.menu-button {
    background-color: transparent;;
    border: none;
    display: flex;
    height: 48px;
    justify-content: center;
    position: absolute;
    right: 66px;
    top: 66px;
    width: 48px;
    z-index: 2;
}
/* despues de entregado vi q no estaba tan bonito en formato 375px */
@media (max-width: 577px ) {
    .menu-button {
        right: 36px;
        top: 36px;
    }
}

/* despliegue del menu con rebote */
@keyframes showMenu {
    0% {
        transform: ScaleY(0)
    }
    80% {
        transform: scaleY(1.2);
    }
    100% {
        transform: scaleY(1);
    }
}

.nav {
    animation : showMenu 0.5s ease-in-out forwards;
    display : block;
    transform-origin: top center;
    z-index: 1;
}
#nav li {
    border-top: 1px solid var(--footer);
    color: var(--white);
    font-size: 1.2rem;
    padding-bottom: 0.8rem;
    text-align: center;
    text-shadow: 1px 2px 5px black;
}
#nav li a {
    cursor: pointer;
    display: block;
    margin: 0.8em auto;
    width: 80%;
}

.hidden {
    visibility: hidden;
}
.none {
    display: none;
}

/* aqui estoy creando las tres barras del menu */

.menu-icon,
.menu-icon::before,
.menu-icon::after {
    background-color: var(--white);
    border-radius: 5px;
    height: 5px;
    position: absolute;
    transition: all 0.5s;
    width: 40px;
}

/* // esto es para  que efectivamente aparezcan en pantalla  */
.menu-icon::before,
.menu-icon::after {
    content: "";
}
/* // posicionando */
.menu-icon::before {
    transform: translate(-20px, -12px);
}
.menu-icon::after {
    transform: translate(-20px, 12px);
} 


/* lo pase a javascript */
/* // barra del medio */
.moving {
    background-color: transparent;
    transform: rotate(360deg);
} 
/* // barra superior */
.moving::before {
    transform: translateX(-20px) rotate(-45deg);
} 
/* // barra inferior */
.moving::after {
    transform: translateX(-20px) rotate(45deg);
} 
